h1 {
    display: grid;
    justify-content: center;
}

nav {
    margin-top: 20px;
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}

nav a {
    margin-right: 60px;
    font-size: 20px;
    text-decoration: none;
    color: darkred
}

nav a:hover {
    text-decoration: underline;
}

hr {
    background-color: orange;
    height: 3px;
    border: none;
}

#horizontal-line {
    height: 3px;
    /* width: 100%; */
    background-color: orange;
    border: none;
    margin: 20px 0;
    margin-top: 50px;
}

.vertical-line {
    display: none;
}

.movie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 0px 24px;
}

#magyk-book{
     grid-column: 2/2
}

#magyk-book p {
    margin: 4px 0;
    margin-top: 10px;
}


img {
    grid-column: 1/2;
    margin-top: 20px;
    display: flex;
    justify-self: center;

}

.synopsis {
    max-width: 40ch;
    justify-self: center;
    grid-column: 1/2;
}

h2 {
    color: darkred;
    display: grid;
    justify-content: center;
    margin-left: 20px;
}

footer {
    text-align: center;

}


    @media (min-width: 600px) {
        .movie {
            display: grid;
            grid-template-columns: .2fr 1fr;
            justify-content: center;
            max-width: 900px;
            margin: 0 auto;
            padding: 0 24px;
        }

        #magyk-book {
            grid-column: 1/2;
        }

        .book {
            grid-column: 2/3;
            grid-row: 1/2;
            margin-top: 80px;
        }

        .book p{
            justify-content: left;
            grid-column: 2/3;
            justify-self: stretch;
            max-width: none;
            margin-left: 60px;
        }

        .vertical-line {
            display: block;
            border-left: 3px solid orange;
            height: 700px;
            grid-column: 2/3;
            grid-row: 1/2;
        }
        #horizontal-line {
            display: none;
        }

        footer {
            /* margin-top: 1px; */

        }

    }