body {
    padding: 0;
    margin: 0;
}

header,
footer {
    max-width: 100%;
    /* margin: 1rem auto; */
    border: 1px solid #ccc;
    padding: 1rem;
    background-color: rgb(0, 102, 255);
}

main {
    background-color: #ccc;
    display: flex;
    padding-top: 2.5rem;
}

main h2 {
    text-align: center;
    margin-top: 0;
}

div.gallery {
    justify-items: center;
}

.gallery img{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    margin: 1rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.menu-btn {
    margin: 0.5rem auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
 

h1,
nav {
    text-align: center;
    color: white;
}

nav a {
    text-align: center;
    color: white;
    display: none;
}

nav a:hover {
    text-decoration: none;
    color:blue
}

#springs {
    padding: 20px;
    margin: 1em;
    border: 1px solid #ccc;
    width: 300px;
    height: 300px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    text-align: center;
    color: white;
}

@media screen and (min-width: 790px) {
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .menu-btn {
        display: none;
    }

    nav a {
        display: inline;
    }

    nav {
        text-align: center;
    }
}
          
@media screen and (min-width: 1210px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}