* { box-sizing: border-box; }

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



.cardWrap {
  width: 520px;
  height: 340px;
  position: relative;    
  display: grid;
  gap: 16px;
}

/* FRONT CARD */
.frontCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 460px;
    height: 75%;
    padding: 16px;
    z-index: 2;
    background: rgb(222, 220, 220);
    /* padding: 16px; */
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12),
                0 4px 6px rgba(0,0,0,0.16);

}


.magStripe {
    height: 40px;
    background: #000;
    margin: 16px -16px 0 -16px;
    border-radius: 6px;
}

.frontCard label {
  display: block;
  margin-top: 10px;
  font-weight: 700;
}

.frontCard input {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
}

/* Make card number a bit shorter like the sample */
#cardNumber {
  max-width: 320px;
}

/* bottom section: holder left, expiration right */
.bottomRow {
  display: grid;
  grid-template-columns: 1fr 180px;
  gap: 20px;
  align-items: end;
}

.expRow {
  display: flex;
  gap: 8px;
}

.expRow input {
  width: 100%;
  min-width: 0;
}

/* BACK CARD */
.backCard {
  background: rgb(222, 220, 220);
  /* padding: 16px; */
  border-radius: 12px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
              0 4px 6px rgba(0,0,0,0.16);

  position: absolute;
  top: 110px;
  left: 80px;
  width: 460px;
  height: 75%;
  padding: 16px;
  z-index: 1;
}

.backContent {
  position: absolute;
  bottom: 24px;
  right: 24px;

  display: flex;
  flex-direction: column;
  align-items: flex-end;   /* moves label/input to the right side */
}

#securityNumb {
  width: 70px;
}