.card-header {
    background-color: #5a7a8a;
    padding: 12px;
    text-align: left;
}

.card-header h1 {
    color: white;
    margin-left: 10px;
    font-size: 30px;
}

#card-body {
    background-color: rgb(41, 41, 41);
    padding: 10px;
    color: white;
    height: 170px;
}

#card-body p {
    margin-left: 10px;

}

.card-footer {
    background-color: rgb(41, 41, 41);
    padding: 15px;
    display: flex;
    gap: 50px;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 10px 10px;
    
}

.card-footer button {
    padding: 10px 20px;
    background-color: #5a7a8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
    
}

.card img {
    width: 100%;
    height: auto;
    /* border-radius: 5px; */
    display: block;
    margin: 0;
    padding: 0;
    /* border: 1px solid black;
    border-radius: 12px; */
}
.card {
    transform: scale(0.6);

    width: 500px;
    border: 1px solid black;
    border-radius: 17px;
    box-shadow: 6px 6px 7px rgba(0, 0, 0, 0.3);
    justify-content: center;
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;

    overflow: hidden;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


